page-messages{
    #body{
         background-color: #DADFE1;
     }

     .list-item{
        height: 12vh;
     }

     .icon-container{
         
     }
     .list-icon{
        font-size: 40px !important;
        padding-right: 4vw;
     }
}