page-home {
    .menu-button{
        background-color: #ABB7B7;
        width: 36vw;
        height: 18vh;
        text-align: center;
        font-size: 20px;
        margin: 10px;
        padding: 1%;
        float: left;
    }

    #icon-m{
        font-size: 60px !important;
    }

     #body{
         background-color: #DADFE1;
     }
}