page-contact {

    .contact-info{
        padding: 20px;
        background-color: #DADFE1;
        text-align: center;
        margin: 20px;
    }

    .wrap-button{
        margin: 20px;
        align-content: center;
    }

    .contact-button{
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #ABB7B7;
        align-content: center;
    }
}
